body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%),url(bgimage.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    color:#fff;

}
.row1{
    padding-top: 2%;
}
.row{
    padding-bottom: 2%;
}
.row3{
    padding-left: 20%;
}
.nav{
    background-color: #111;
    margin-bottom: 0px;
}
.nav:hover{
    background-color: rgb(14, 23, 61);
}
.button1
{
    background-color: #fff;
    backface-visibility: hidden;
    border: none !important; 
    color : #000;
    font-size: 20px;
    letter-spacing: 5px;
}
.button1:hover{
    background-color: #000;
    color : #fff;
}
.button
{
    background-color: #fff;
    backface-visibility: hidden;
    border: none !important; 
    color : #000;
    font-size: 17px;
}
.button:hover{
    background-color: #000000;
    color : #fff;
}
.question-back{
    border-radius: 20px 20px;
    width: 100%; 
    background: rgba(0, 0, 0, 0.61);
    padding-bottom: 2%;
    z-index: 9999;

    
}
.question{
    text-align: center;
    font-family: Comic Sans MS;
	padding-top:1%;
    color: #fff;
    z-index: 1;

}
.first{
    align-content: center;
}
.answer{
    display: block;
    text-align: center;
  max-width: 300px;
  margin:0 auto;
    font-family: Comic Sans MS;
}
.ans{
     text-align: center;
    font-family: Comic Sans MS;
}
.table1{
    margin-top: 30px;
    border-radius: 20px 20px;
    padding-bottom: 5%;
    background: rgba(0, 0, 0, 0.61);
    opacity: 0.9;
    margin-bottom: 4%;
    color:#fff;

}

.table2{
    border-radius: 20px 20px;
    padding-bottom: 5%;
    background: #000;
    opacity: 0.9;
    width: 100%;
    color: #fff;
}
.question h1{
	padding-top:3%;
font-size:50px;
color: #fff;
}
.answer h2{
	padding-top:1%;
font-size:35px;

}
.btn-info{
	background:#111;
	/* opacity:0.8; */
}
.question h4{
	padding-top:3%;
	font-size:25px;
}
/* .table .thead-light tr th{
    font-family: Comic Sans MS;
    font-size:1.2rem;
    color: #fff;
  } */
  /* .table-danger, .table-danger > th, .table-danger > td{
    font-family: Comic Sans MS;
      background-color: #000;
      font-weight:bold;
      font-size:1.2rem;
      color:#fff;
  } */
  /* .table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
ul{
    list-style-type: square;
    font-weight:bold;
      font-size:1.2rem;
    color:#fff;

} */
.alert1{
    border-radius: 20px;
}
.tableHeader{
    font-size:1.2rem;
    color: #fff;
}
.table-danger, .table-danger > th, .table-danger > td{
    background-color: transparent;
    color: #fff;
}
.table{
    color: #fff;
}

.table a{
    color: #fff;
    text-decoration: none;
}

.table a:hover{
    cursor: pointer;
}

.question-back1{
    font-size: 1.3rem;
    text-align: center;
    font-family: Comic Sans MS;
	padding-top:1%;
    color: #fff;
    z-index: 1;

}